
.step1Content {
    text-align: center;
    margin: 0px auto;
    height: 100%;
    display: flex;
    justify-content: center;
}
.step1Content img {
    margin: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: block;
    border: 3px solid var(--secondary-color);
}


.step3Content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5rem;
}

.step3Content {
    font-size: 5.6rem;
    line-height: 1;
}



.step4Content {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}