.title {
    text-align: center;
    font-weight: 600;
    margin-top: 10vh;
    font-size: x-large;
}

.content {
    height: 80vh;
    max-height: 100%;
    display:block;
    overflow: hidden;
}
.action {
    text-align: center;
    height: auto;
    margin-bottom: 10vh;
}
