.main {
    width: auto;
    display: inline-flex;
}

.main span {
    vertical-align: middle;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
}

.main button {
    border: 0px;
    text-align: left;
    line-height: 1;
    height: 2.8rem;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: x-large;
}
.main .iconright {
    padding-right: 0rem;
}
.main .iconright span {
    vertical-align: middle;
    
    margin-left: 1.5rem;
}






.error {
    width: auto;
    display: inline-flex;
}
.error span {
    vertical-align: middle;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
}

.error button {
    border: 0px;
    text-align: left;
    line-height: 1;
    height: 2.8rem;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: rgb(201, 37, 37);
    color: #fff;
    font-size: x-large;
}

.error .iconright span {
    vertical-align: middle;
    margin-left: 1.5rem;

}