.image_container {
    columns: 3 250px;
    gap: 15px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}

/* .image_wrapper {
    
}

.image_wrapper > div {
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    box-shadow: 1px 2px 6px var(--secondary-color);
} */


.image_container img {
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    box-shadow: 1px 2px 6px var(--secondary-color);
}

.image_container img:hover {
    opacity: .7;
}