
/* Desktop and iPads */
.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  height: 91vh;
  display:block;
  justify-content: center;
  text-align: center;
}

/* .main {
  padding: 5rem 0;
} */

#companyLogo {
  width: 20%;
  margin-top: 30vh;
}

#headerTitle {
  font-size: 3.5rem;
  font-weight: bold;
}

.productTraits {
  margin-top: 20vh;
}

.productTraits h1, .productTraits h3 {
  text-align: center;
}

.productHighlightGrid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1rem 1rem 1rem 1rem;
  gap: 2em;
}


.imageContainer {
  width:20rem; 
  height:20rem;
  overflow:hidden;
  display:inline-block;
  position:relative;
}
.imageContainer img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#phdTitle {
  font-size: 1.54rem;
  font-weight: 600;
}
#phdDescription {
  line-height: 2rem;
}

.serviceOffered {
  
  margin: 1em 1em 1em 1em;
  margin-top: 50vh;
}


.serviceGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.serviceOfferedCard {
  text-align: center;
  cursor: pointer;
}

.serviceOfferedCard img {
  border-radius: 100%;
  width: 8em;
  height: 8em;
}

.requesAFreeQuote  {
  margin-top: 50vh;
  text-align: center;
  margin-bottom: 50vh;
}
.requesAFreeQuote button {
  background-color: #C300FF;
  width: 50%;
  height: auto;
  font-size: 1.8em;
  color: white;
  padding: 1em;
  border-radius: 20px;
  cursor: pointer;
  border: 0px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.329);
}


.notice1 {
  background-color: #DD6D40;
  padding: 2rem;
  color:#ffff;
  width: 80%;
  margin: 0px auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
  border-radius: 10px;
  font-size: 1.7rem;
  word-wrap:break-word
  
}

.notice2 {
  background-color: #40A4DD;
  padding: 2rem;
  color:#ffff;
  width: 80%;
  margin: 0px auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
  border-radius: 10px;
  font-size: 1.7rem;
  word-wrap:break-word
}



/* MOBILES */

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  #companyLogo {
    width: 40%;
  }
  #headerTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  #headerSubtitle {
    font-size: smaller;
    font-weight: bold;
  }
  .productHighlightGrid {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: auto;
  }
  .imageContainer img {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  #phdTitle {
    font-size: 1.6rem;
    font-weight: 600;
  }
  #phdDescription {
    font-size: 0.9rem;
  }
  .serviceGrid {
    display: grid;
    grid-template-columns: auto;
  }

  .serviceOffered h1 {
    text-align: center;
  }

  .serviceOfferedCard img {
    width: 7em;
    height: 7em;
  }
  .requesAFreeQuote button {
    font-size: 1em;
    width: 40%;
  }
}